.full-width {
	width: 100%;	
}
.text_ind {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	}
.text_ind2 {
	font-size: 115%;
	padding-top: 10.5em;
	font-style: oblique;
	color: #000080;
	font-weight: bold;
	/* [disabled]padding-left: 0.8em; */
}
.toccolours{
	border:1px solid #aaa;
	background-color:#f9f9f9;
	padding:5px;font-size:100%
}
div.thumbinner{
	border:1px solid #cccccc;
	padding:3px !important;
	background-color:White;
	font-size:100%;
	text-align:center;
	overflow:hidden}

.textWarning {
	font-size: 70%;
	line-height: 120%;
	vertical-align: auto;
	font-weight: bold;
	margin-top: 1.4em;
}

.textOptions {
	margin-bottom: 0px;
	margin-top: 0px;
}

.textAudio {
	background-color: #FEFEFC;
	/* [disabled]padding-top: 10px; */
}

.textHeader {
	margin-bottom: 15px;
	padding-bottom: 0px;
	line-height: 140%;
	/* [disabled]margin-top: 15px; */
}
.textBody p {
	/* [disabled]border-bottom-style: solid; */
	margin-bottom: 0px;
	/* [disabled]padding-bottom: 5px; */
	/* [disabled]border-bottom-color: #E2E2E2; */
	/* [disabled]padding-top: 5px; */
	/* [disabled]border-bottom-width: 1px; */
	line-height: 1.5em !important;
}
#textBody br {
margin-top: 3px !important;
}

#textBody a {
	color: #000;
}
#textBody a:visited {
	text-decoration: none;
	color: #000;
	background: transparent;
}
#textBody a:hover {
	text-decoration: none;
	color: #000;
	background-color: #F3F1EB;
}
#textBody a:focus {
	text-decoration: none;
	color: #333;
	background: transparent;
}
#textBody a:active {
	text-decoration: none;
	background: transparent;
}
.verse {
	font-weight: bold;
	color: #D2B48C;
	font-size: 80%;
	font-style: italic;
	/* [disabled]vertical-align: super; */
}
.textNav {
	text-align: left;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.textFooter {
	text-align: right;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	line-height: 200%;
}
.align-right {
	text-align: right;
}

/* font resizer styles */

.fontresize {
margin: 0 0.5em 0 0;
}

.decreaseFont {
	font-size: 100%;
}

.normalizeFont {
font-size: 100%;
}

.increaseFont {
	font-size: 100%;
}

#fontResizer {
margin: 0 0 1em 0;
font-size: 100%;
font-weight: bold;	

}

#fontResizer a:link {
	text-decoration: none;
}
#fontResizer a:visited {
	text-decoration: none;
}
#fontResizer a:hover {
	text-decoration: none;
}	

#fontResize, .block-fontResizer {
float: right;
margin: 0;
}
.breadCrumbs {
	font-size: 75%;
	padding-top: 0.5em;
	text-transform: none;
	font-style: normal;
	font-weight: bold;
	/* [disabled]padding-left: 0.8em; */
}

ul.list-bibles {
list-style-image: url('../img/book.png' ); 
display: inline;
	}
ul.list-audio {
list-style-image: url('../img/audio-headphones.png' ); 
display: inline;
	}
ul.list-verses {
list-style-image: url('../img/openbook.png' );
display: inline;
	}
ul.list-multi {
list-style-image: url('../img/multi.png' ); 
display: inline;
	}
ul.list-multi-2 {
list-style-image: url('../img/multi-2.png' ); 
display: inline;
	}
ul.list-page {
list-style-image: url('../img/page.png' ); 
display: inline;
	}
ul.list-download {
list-style-image: url('../img/download.png' ); 
display: inline;
	}
ul.list-www {
list-style-image: url('../img/www.png' ); 
display: inline;
	}
.person {
	font-style: oblique;
	color: #9C1111;
	font-weight: bold;

}
.why {
	font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-style: normal;
	color: #444;
	font-weight: normal;
	text-align:justify;
	font-size: 100%;

}
.word {
	font-style: normal;
	color: #FF0000;
	font-weight: normal;
}
.place {
	font-style: oblique;
	color: #691E3C;
	font-weight: bold;
}

.arial_14 {
	    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 100%;
		font-style: italic;
        margin-top: .5em; color: #666;
		text-align:justify;
}
.arial_15 {
	    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 120%;
        margin-top: .5em; color: #222;
		text-align:justify;
}
.arial_18 {
	    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 130%;
        margin-top: .5em; color: #444;
		text-align:justify;
}
.lucida_10 {
	    font-family: "Lucida Grande", Tahoma;
	font-size: 10px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #666666;
        margin-top: 10px;
	text-align: center!important;
	letter-spacing: 0.3em;
}
.tag_11 {
	    color: #76879b;
        font-size: 100%;
        margin: 5px;
        font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
      }
.number_4 {
	   font-family:georgia, serif;
	  color:#3B200F;
	  font-size:100%;
	  font-weight:bold;
	  line-height:125%;
	  text-align:left;
}
.small_tight {
	   font-family:georgia,serif;
	color:#381704;
	font-size:100%;
	font-weight:normal;
	line-height:150%;
	padding:0px; 
}
blockquote {
    border-left: 4px solid #ccc;
    color: #a5a4a4;
    font-style: italic;
    margin: 30px 0 30px 15px;
    padding-left: 15px;    
} 

span.c1 {color: red; font-size: 120%}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides ul {
	margin-top: 10px;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  margin-left: 0px;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

